:root, [data-bs-theme=light] {
  --bs-primary: #fafafa;
  --bs-primary-rgb: 250,250,250;
  --bs-primary-text-emphasis: #646464;
  --bs-primary-bg-subtle: #FEFEFE;
  --bs-primary-border-subtle: #FDFDFD;
  --bs-secondary: #8ECDB1;
  --bs-secondary-rgb: 142,205,177;
  --bs-secondary-text-emphasis: #395247;
  --bs-secondary-bg-subtle: #E8F5EF;
  --bs-secondary-border-subtle: #D2EBE0;
  --bs-light: #f3f4f8;
  --bs-light-rgb: 243,244,248;
  --bs-light-text-emphasis: #616263;
  --bs-light-bg-subtle: #FDFDFE;
  --bs-light-border-subtle: #FAFBFC;
  --bs-dark: #020202;
  --bs-dark-rgb: 2,2,2;
  --bs-dark-text-emphasis: #010101;
  --bs-dark-bg-subtle: #CCCCCC;
  --bs-dark-border-subtle: #9A9A9A;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #fafafa;
  --bs-btn-border-color: #fafafa;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FBFBFB;
  --bs-btn-hover-border-color: #FBFBFB;
  --bs-btn-focus-shadow-rgb: 38,38,38;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FBFBFB;
  --bs-btn-active-border-color: #FBFBFB;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #fafafa;
  --bs-btn-disabled-border-color: #fafafa;
}

.btn-outline-primary {
  --bs-btn-color: #fafafa;
  --bs-btn-border-color: #fafafa;
  --bs-btn-focus-shadow-rgb: 250,250,250;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #fafafa;
  --bs-btn-hover-border-color: #fafafa;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #fafafa;
  --bs-btn-active-border-color: #fafafa;
  --bs-btn-disabled-color: #fafafa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #fafafa;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #8ECDB1;
  --bs-btn-border-color: #8ECDB1;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #9FD5BD;
  --bs-btn-hover-border-color: #99D2B9;
  --bs-btn-focus-shadow-rgb: 21,31,27;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #A5D7C1;
  --bs-btn-active-border-color: #99D2B9;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #8ECDB1;
  --bs-btn-disabled-border-color: #8ECDB1;
}

.btn-outline-secondary {
  --bs-btn-color: #8ECDB1;
  --bs-btn-border-color: #8ECDB1;
  --bs-btn-focus-shadow-rgb: 142,205,177;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #8ECDB1;
  --bs-btn-hover-border-color: #8ECDB1;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #8ECDB1;
  --bs-btn-active-border-color: #8ECDB1;
  --bs-btn-disabled-color: #8ECDB1;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8ECDB1;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f3f4f8;
  --bs-btn-border-color: #f3f4f8;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #CFCFD3;
  --bs-btn-hover-border-color: #C2C3C6;
  --bs-btn-focus-shadow-rgb: 36,37,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C2C3C6;
  --bs-btn-active-border-color: #B6B7BA;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f3f4f8;
  --bs-btn-disabled-border-color: #f3f4f8;
}

.btn-outline-light {
  --bs-btn-color: #f3f4f8;
  --bs-btn-border-color: #f3f4f8;
  --bs-btn-focus-shadow-rgb: 243,244,248;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f3f4f8;
  --bs-btn-hover-border-color: #f3f4f8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f3f4f8;
  --bs-btn-active-border-color: #f3f4f8;
  --bs-btn-disabled-color: #f3f4f8;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f3f4f8;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #020202;
  --bs-btn-border-color: #020202;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #020202;
  --bs-btn-hover-border-color: #020202;
  --bs-btn-focus-shadow-rgb: 217,217,217;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #020202;
  --bs-btn-active-border-color: #020202;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #020202;
  --bs-btn-disabled-border-color: #020202;
}

.btn-outline-dark {
  --bs-btn-color: #020202;
  --bs-btn-border-color: #020202;
  --bs-btn-focus-shadow-rgb: 2,2,2;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #020202;
  --bs-btn-hover-border-color: #020202;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #020202;
  --bs-btn-active-border-color: #020202;
  --bs-btn-disabled-color: #020202;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #020202;
}

