:root, [data-bs-theme=light] {
  --bs-primary: #1AC573;
  --bs-primary-rgb: 26,197,115;
  --bs-primary-text-emphasis: #0A4F2E;
  --bs-primary-bg-subtle: #D1F3E3;
  --bs-primary-border-subtle: #A3E8C7;
  --bs-secondary: #0C5A34;
  --bs-secondary-rgb: 12,90,52;
  --bs-secondary-text-emphasis: #052415;
  --bs-secondary-bg-subtle: #CEDED6;
  --bs-secondary-border-subtle: #9EBDAE;
  --bs-success: #008BF5;
  --bs-success-rgb: 0,139,245;
  --bs-success-text-emphasis: #003862;
  --bs-success-bg-subtle: #CCE8FD;
  --bs-success-border-subtle: #99D1FB;
  --bs-danger: #f90202;
  --bs-danger-rgb: 249,2,2;
  --bs-danger-text-emphasis: #640101;
  --bs-danger-bg-subtle: #FECCCC;
  --bs-danger-border-subtle: #FD9A9A;
  --bs-light: #F5F5F5;
  --bs-light-rgb: 245,245,245;
  --bs-light-text-emphasis: #626262;
  --bs-light-bg-subtle: #FDFDFD;
  --bs-light-border-subtle: #FBFBFB;
  --bs-dark: #1D1D20;
  --bs-dark-rgb: 29,29,32;
  --bs-dark-text-emphasis: #0C0C0D;
  --bs-dark-bg-subtle: #D2D2D2;
  --bs-dark-border-subtle: #A5A5A6;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #1AC573;
  --bs-btn-border-color: #1AC573;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #3CCE88;
  --bs-btn-hover-border-color: #31CB81;
  --bs-btn-focus-shadow-rgb: 4,30,17;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #48D18F;
  --bs-btn-active-border-color: #31CB81;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #1AC573;
  --bs-btn-disabled-border-color: #1AC573;
}

.btn-outline-primary {
  --bs-btn-color: #1AC573;
  --bs-btn-border-color: #1AC573;
  --bs-btn-focus-shadow-rgb: 26,197,115;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #1AC573;
  --bs-btn-hover-border-color: #1AC573;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #1AC573;
  --bs-btn-active-border-color: #1AC573;
  --bs-btn-disabled-color: #1AC573;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1AC573;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0C5A34;
  --bs-btn-border-color: #0C5A34;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0A4D2C;
  --bs-btn-hover-border-color: #0A482A;
  --bs-btn-focus-shadow-rgb: 219,230,225;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0A482A;
  --bs-btn-active-border-color: #094427;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0C5A34;
  --bs-btn-disabled-border-color: #0C5A34;
}

.btn-outline-secondary {
  --bs-btn-color: #0C5A34;
  --bs-btn-border-color: #0C5A34;
  --bs-btn-focus-shadow-rgb: 12,90,52;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0C5A34;
  --bs-btn-hover-border-color: #0C5A34;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0C5A34;
  --bs-btn-active-border-color: #0C5A34;
  --bs-btn-disabled-color: #0C5A34;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0C5A34;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #008BF5;
  --bs-btn-border-color: #008BF5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #269CF7;
  --bs-btn-hover-border-color: #1997F6;
  --bs-btn-focus-shadow-rgb: 0,21,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #33A2F7;
  --bs-btn-active-border-color: #1997F6;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #008BF5;
  --bs-btn-disabled-border-color: #008BF5;
}

.btn-outline-success {
  --bs-btn-color: #008BF5;
  --bs-btn-border-color: #008BF5;
  --bs-btn-focus-shadow-rgb: 0,139,245;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #008BF5;
  --bs-btn-hover-border-color: #008BF5;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #008BF5;
  --bs-btn-active-border-color: #008BF5;
  --bs-btn-disabled-color: #008BF5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #008BF5;
}

.btn-danger {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f90202;
  --bs-btn-border-color: #f90202;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #FA2828;
  --bs-btn-hover-border-color: #FA1B1B;
  --bs-btn-focus-shadow-rgb: 37,0,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #FA3535;
  --bs-btn-active-border-color: #FA1B1B;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f90202;
  --bs-btn-disabled-border-color: #f90202;
}

.btn-outline-danger {
  --bs-btn-color: #f90202;
  --bs-btn-border-color: #f90202;
  --bs-btn-focus-shadow-rgb: 249,2,2;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f90202;
  --bs-btn-hover-border-color: #f90202;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f90202;
  --bs-btn-active-border-color: #f90202;
  --bs-btn-disabled-color: #f90202;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f90202;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #F5F5F5;
  --bs-btn-border-color: #F5F5F5;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D0D0D0;
  --bs-btn-hover-border-color: #C4C4C4;
  --bs-btn-focus-shadow-rgb: 37,37,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C4C4C4;
  --bs-btn-active-border-color: #B8B8B8;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #F5F5F5;
  --bs-btn-disabled-border-color: #F5F5F5;
}

.btn-outline-light {
  --bs-btn-color: #F5F5F5;
  --bs-btn-border-color: #F5F5F5;
  --bs-btn-focus-shadow-rgb: 245,245,245;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F5F5F5;
  --bs-btn-hover-border-color: #F5F5F5;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F5F5F5;
  --bs-btn-active-border-color: #F5F5F5;
  --bs-btn-disabled-color: #F5F5F5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #F5F5F5;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1D1D20;
  --bs-btn-border-color: #1D1D20;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #19191B;
  --bs-btn-hover-border-color: #17171A;
  --bs-btn-focus-shadow-rgb: 221,221,222;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #17171A;
  --bs-btn-active-border-color: #161618;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1D1D20;
  --bs-btn-disabled-border-color: #1D1D20;
}

.btn-outline-dark {
  --bs-btn-color: #1D1D20;
  --bs-btn-border-color: #1D1D20;
  --bs-btn-focus-shadow-rgb: 29,29,32;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1D1D20;
  --bs-btn-hover-border-color: #1D1D20;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1D1D20;
  --bs-btn-active-border-color: #1D1D20;
  --bs-btn-disabled-color: #1D1D20;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1D1D20;
}

