.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  background: var(--bs-link-color);
  color: #ffffff;
}

@media (min-width: 768px) {
  .card-body {
    height: 225px;
  }
}

@media (min-width: 1200px) {
  #form-column {
    width: 50%;
  }
}

@media (min-width: 300px) {
  .why-choose-us-content {
    padding-left: 10px;
  }
}

.why-choose-us-content {
  border-left-width: 2.5px;
  border-left-style: solid;
}

@media (min-width: 992px) {
  .why-choose-us-content {
    margin: 0 2em;
    padding-left: 25px;
  }
}

@media (max-width: 768px) {
  .choose-us-content-left {
    width: 100%;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .choose-us-content-left {
    width: 50%;
    justify-content: end;
  }
}

@media (min-width: 768px) {
  .choose-us-content-right {
    width: 50%;
    justify-content: start;
  }
}

@media (max-width: 768px) {
  .choose-us-content-right {
    width: 50%;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  #about-us-img {
    background: url("../../assets/img/photo-1584813470613-5b1c1cad3d69.jpg") center / cover;
  }
}

@media (max-width: 300px) {
  #about-us-img {
    background-position: left;
  }
}

@media (max-width:576px) {
  #footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #footer-text-content {
    text-align: center;
  }
}

